/* Import this file if you want all the goodies, or just import the individual sections you need */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
/* For image replacement */
/* @todo Expand above gradient mixin to allow other non-linear styles */
body {
  background-image: url(/static/img/cotton-fabric-rough.jpg);
  color: #839496;
  font-size: 80%;
  font-family: 'Menlo', 'Monaco', 'Lucida Grande', 'Helvetica Neue', 'Helvetica', 'sans';
}
a {
  color: #dc322f;
}
label {
  color: #cccccc;
  font-size: 90%;
  line-height: 200%;
  padding: 0.5em;
  font-style: italic;
  font-family: 'Lucida Grande', 'Helvetica Neue', 'Helvetica', 'sans';
}
dl.day {
  background-color: #002b36;
  margin: 2em 0;
  padding: 2em 2em 2em 1em;
  -webkit-box-shadow: 2px 2px 7px #000000;
  -moz-box-shadow: 2px 2px 7px #000000;
  box-shadow: 2px 2px 7px #000000;
}
dl.day dt {
  width: 10em;
  text-align: right;
  margin-top: 0.5em;
  color: #b58900;
  display: inline-block;
  padding: 5px;
}
dl.day dd {
  margin-top: -1.6em;
  margin-left: 11em;
}
dl.day.inserted {
  position: absolute;
  left: -99999px;
}
#toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #cccccc;
  background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#b3b3b3));
  background: -webkit-linear-gradient(#cccccc, #b3b3b3);
  background: -moz-linear-gradient(center top, #cccccc 0%, #b3b3b3 100%);
  background: -moz-gradient(center top, #cccccc 0%, #b3b3b3 100%);
  -pie-background: linear-gradient(#cccccc, #b3b3b3);
  background: linear-gradient(#cccccc, #b3b3b3);
  color: #111;
  border-bottom: 2px solid #cccccc;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 1px 0 #ffffff;
  color: #4d4d4d;
  padding: 0.3em 1em;
  z-index: 2;
}
#entries {
  width: 60em;
  right: 5%;
  position: absolute;
}
#marker {
  width: 150px;
  background-color: rgba(20, 20, 20, 0.3);
  -webkit-background-clip: padding-box;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background-clip: padding-box;
  text-shadow: 2px 3px 1px #000;
  color: #cccccc;
  position: fixed;
  min-height: 2em;
  padding: 0.5em;
  top: 40%;
  left: 20px;
}
#search {
  position: fixed;
  right: 5%;
  top: 4px;
  z-index: 2;
}
#search input {
  width: 25em;
  border: 1px solid #cccccc;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #bfbfbf;
  padding: 3px 6px ;
  -webkit-background-clip: padding-box;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  background-clip: padding-box;
  opacity: 0.6;
  -moz-transition: opacity 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
#search input:hover, #search input:focus {
  opacity: 1;
}
#search-results {
  background-color: #fff;
  z-index: 1;
  width: 60em;
  top: 30px;
  right: 5%;
  position: fixed;
  -webkit-box-shadow: 2px 2px 2px #000000;
  -moz-box-shadow: 2px 2px 2px #000000;
  box-shadow: 2px 2px 2px #000000;
  max-height: 0em;
  overflow: auto;
  border-bottom: 3px solid #999999;
  -moz-transition: max-height 0.2s ease-in;
  -webkit-transition: max-height 0.2s ease-in;
  transition: max-height 0.2s ease-in;
}
#search-results.active {
  max-height: 12em;
}
#search-results ul {
  margin: 0;
  padding-left: 0em;
}
#search-results li {
  font-size: 11px;
  line-height: 170%;
  padding-left: 2em;
  list-style: none;
}
#search-results li:nth-child(2n+1) {
  background-color: #eff5fd;
}
#search-results li:hover {
  cursor: hand;
}
#search-results li:focus {
  outline: none;
  background-color: #c2d9f7;
}
#search-results .tools {
  padding: 1em;
}
