/* Import this file if you want all the goodies, or just import the individual sections you need */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
/* For image replacement */
/* @todo Expand above gradient mixin to allow other non-linear styles */
body {
  background-image: url(/static/img/bg-2.jpg);
  color: #839496;
  font-size: 80%;
  font-family: 'Menlo', 'Monaco', 'Lucida Grande', 'Helvetica Neue', 'Helvetica', 'sans';
}
a {
  color: #dc322f;
}
label {
  color: #cccccc;
  font-size: 90%;
  line-height: 200%;
  padding: 0.5em;
  font-style: italic;
  font-family: 'Lucida Grande', 'Helvetica Neue', 'Helvetica', 'sans';
}
dt {
  width: 10em;
  text-align: right;
  margin-top: 0.5em;
  display: inline-block;
  padding: 5px;
}
#toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #cccccc;
  background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#b3b3b3));
  background: -webkit-linear-gradient(#cccccc, #b3b3b3);
  background: -moz-linear-gradient(center top, #cccccc 0%, #b3b3b3 100%);
  background: -moz-gradient(center top, #cccccc 0%, #b3b3b3 100%);
  -pie-background: linear-gradient(#cccccc, #b3b3b3);
  background: linear-gradient(#cccccc, #b3b3b3);
  color: #111;
  border-bottom: 2px solid #cccccc;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 1px 0 #ffffff;
  color: #4d4d4d;
  padding: 0.3em 1em;
  z-index: 2;
}
#marker {
  width: 150px;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background-clip: padding-box;
  color: #666666;
  padding: 1em;
  text-align: left;
  position: fixed;
  top: 48.3%;
  right: 5%;
  width: 70em;
}
#search {
  position: fixed;
  right: 5%;
  top: 4px;
  z-index: 2;
}
#search input {
  width: 20em;
  border: 1px solid #cccccc;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #bfbfbf;
  padding: 3px 6px ;
  -webkit-background-clip: padding-box;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  background-clip: padding-box;
  opacity: 0.8;
  -moz-transition: opacity 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
#search input:focus {
  opacity: 1;
}
#main {
  width: 60em;
  right: 5%;
  position: absolute;
  z-index: 1;
}
.hilight {
  background-color: rgba(241, 90, 87, 0.15000000000000002);
  -webkit-background-clip: padding-box;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  background-clip: padding-box;
}
#entries {
  -moz-transition: margin-top 0.2s ease-in;
  -webkit-transition: margin-top 0.2s ease-in;
  transition: margin-top 0.2s ease-in;
  margin-top: 0em;
}
#entries dl {
  background-color: #002b36;
  margin: 4em 0;
  padding: 1em 2em 1em 1em;
  -webkit-box-shadow: 2px 2px 7px #000000;
  -moz-box-shadow: 2px 2px 7px #000000;
  box-shadow: 2px 2px 7px #000000;
  position: relative;
}
#entries dl:first-of-type {
  margin-top: 5.5em;
}
#entries dl:before {
  text-align: center;
  -webkit-background-clip: padding-box;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  background-clip: padding-box;
  color: #666666;
  background-color: #ffffff;
  padding: 0.5em 2em;
  left: 40%;
  position: absolute;
  top: -3em;
  content: "2012-03-10";
}
#entries dl dt {
  color: #b58900;
}
#entries dl dt.current {
  color: #f15a57;
}
#entries dl dd {
  margin-top: -1.6em;
  margin-left: 11em;
}
#entries dl.inserted {
  position: absolute;
  left: -99999px;
}
#entries .hilight {
  background-color: rgba(241, 90, 87, 0.5);
}
body.search-results #search-results {
  position: fixed;
  top: 2em;
  z-index: 1;
  max-height: 12em;
  height: 12em;
  overflow-y: auto;
}
body.search-results #entries {
  margin-top: 15em;
}
#search-results {
  width: 60em;
  position: fixed;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 2px #000000;
  -moz-box-shadow: 2px 2px 2px #000000;
  box-shadow: 2px 2px 2px #000000;
  max-height: 0em;
  overflow: hidden;
  padding-top: 1.4em;
  border-bottom: 3px solid #999999;
  -moz-transition: max-height 0.2s ease-in;
  -webkit-transition: max-height 0.2s ease-in;
  transition: max-height 0.2s ease-in;
}
#search-results dl {
  margin: 0;
  padding-left: 0em;
}
#search-results dt {
  display: none;
}
#search-results dd {
  font-size: 11px;
  display: block;
  margin: 0;
  padding: 0.3em 1em;
}
#search-results dd:nth-child(4n+2) {
  background-color: #e1ecfb;
}
#search-results dd:hover {
  cursor: hand;
}
#search-results dd:focus {
  outline: none;
  background-color: #b4d0f5;
}
#search-results .tools {
  padding: 1em;
}
