{% extends "layout.html" %}

{% block title %}The Log{% endblock %}

{% block content %}
<div id="toolbar">You Said It!</div>
<div id="search">
    <select id="foo" tabindex="1" placeholder="Search"
        disabled="disabled">
        <option>Today</option>
        <option>Last Week</option>
        <option>Last Month</option>
        <option>Last Year</option>
        <option>Ever!</option>
    </select>
    <input id="search-box" tabindex="1" type="search" placeholder="Search"></input>
</div>

<div id="main">
    <div id="search-results">
        <label>14 matches:</label>
        <ul>
            {% for item in range(1, 20) %}
            <li tabindex="2">A result</li>
            {% endfor %}
        </ul>
    </div>
    <div id="entries"></div>
</div>
{% endblock %}

{% block js %}
<script data-dojo-config="async: 1, tlmSiblingOfDojo: 0, isDebug: 1"
        src="/static/js/dt/dojo/dojo.js" defer></script>
<!-- <script data-dojo-config="async: 1, tlmSiblingOfDojo: 0, isDebug: 0" -->
<!--         src="/static/js/dist/yousaidit/app.js" defer></script> -->

<!-- Load the application. -->
<!-- <script src="/static/js/dist/yousaidit/boot.js" defer></script> -->
<script src="/static/js/yousaidit/boot.js" defer></script>
{% endblock %}
